@media (max-width: 1500px) {
  .banner-padding {
    padding: 160px 0 100px;
  }
}

.bg-image {
  opacity: 1;
}
.hero-heading {
  font-family: Poppins, sans-serif;
  text-align: center;
  color: #00c4f4;
  font-size: 3rem;
}
/* .col-lg-6-a {
  margin-left: 60%;
} */
.home-row {
  width: 100%;
}
/* .home-row > .col-lg-6 {
  width: 100%;
} */
.banner__background-wrap {
  min-height: 0vh;
}
.banner__content {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.bg-vedio {
  width: 100%;

  background-position: center;
  object-fit: contain;
}
/* optional depending on what you want to do in your app */
.banner__content .description {
  line-height: 1.5;
  color: #fff;
  margin: 0px;
  font-size: 2rem;
  text-align: center;
}
/* .explore-btn {
  align-items: flex-start;
} */
.banner-paddingaa {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1500px) {
  .banner-paddingaa {
    padding: 185px 0 0px;
    margin-bottom: 20rem;
  }
}
@media (max-width: 1150px) {
  .hero-heading {
    font-size: 3rem;
  }
  .banner__content .description {
    font-size: 1.5rem;
  }
  .banner__content {
    gap: 1rem;
  }
  .banner-paddingaa {
    padding: 170px 0 20px;
    margin-bottom: 5rem;
  }
}
@media (max-width: 950px) {
  .hero-heading {
    font-size: 1.5rem;
  }
  .banner__content .description {
    font-size: 1rem;
  }
  .banner__content {
    gap: 1rem;
  }
  .banner-paddingaa {
    padding: 170px 0 20px;
    margin-bottom: 10rem;
  }
}
@media (max-width: 760px) {
  .hero-heading {
    font-size: 1rem;
  }
  .banner__content .description {
    font-size: 1rem;
  }
  .banner__content {
    gap: 0.6rem;
  }
  .banner-paddingaa {
    padding: 170px 0 20px;
    margin-bottom: 10rem;
  }
}
@media (max-width: 640px) {
  .hero-heading {
    font-size: 1rem;
  }
  .banner__content .description {
    font-size: 1rem;
  }
  .banner__content {
    gap: 0.6rem;
  }
  .banner-paddingaa {
    padding: 110px 0 20px;
    margin-bottom: 10rem;
  }
}
@media (max-width: 560px) {
  .hero-heading {
    font-size: 1rem;
  }
  .banner__content .description {
    font-size: 0.8rem;
  }
  .banner__content {
    gap: 0.3rem;
  }
  .banner-paddingaa {
    padding: 110px 0 20px;
    margin-bottom: 5rem;
  }
}
