/* .faq-area {
  background-image: url("./AdobeStock_238083471.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
} */
.accordion-body > p {
  color: #fff;
}
.section-py-80 {
  padding: 40px 0;
}
